* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    background-color: rgb(217, 255, 242);
}
main {
    background-color: rgb(165, 165, 165);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 4px 4px 5px rgb(15, 25, 56);
}